
@{
    Layout = null;
}

<!DOCTYPE html>



<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Foodu - Food & Restaurant HTML Template ">

    <!-- ========== Page Title ========== -->
    <title>Foodu - Food & Restaurant HTML Template </title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/UI/assets/img/favicon.png" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="/UI/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/UI/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/UI/assets/css/flaticon-set.css" rel="stylesheet">
    <link href="/UI/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="/UI/assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/UI/assets/css/animate.min.css" rel="stylesheet">
    <link href="/UI/assets/css/bootstrap-datepicker3.css" rel="stylesheet">
    <link href="/UI/assets/css/validnavs.css" rel="stylesheet">
    <link href="/UI/assets/css/helper.css" rel="stylesheet">
    <link href="/UI/assets/css/unit-test.css" rel="stylesheet">
    <link href="/UI/assets/css/shop.css" rel="stylesheet">
    <link href="/UI/assets/css/style.css" rel="stylesheet">
    <link href="/UI/style.css" rel="stylesheet">
    <!-- ========== End Stylesheet ========== -->
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->

</head>

<body>

    <div class="radio-btn-light">
        <div class="radio-inner-light"></div>
    </div>

   
    
    <!-- Header
    ============================================= -->
    @await Component.InvokeAsync("_UILayoutNavbar")

    @RenderBody()
    <!-- End Header -->
    
    @RenderBody()
    
    <!-- Start Footer
    ============================================= -->
    @await Component.InvokeAsync("_UILayoutFooter")
    <!-- End Footer -->
    
    <!-- jQuery Frameworks
    ============================================= -->
    <script src="/UI/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/UI/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/UI/assets/js/jquery.appear.js"></script>
    <script src="/UI/assets/js/swiper-bundle.min.js"></script>
    <script src="/UI/assets/js/progress-bar.min.js"></script>
    <script src="/UI/assets/js/wow.min.js"></script>
    <script src="/UI/assets/js/isotope.pkgd.min.js"></script>
    <script src="/UI/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/UI/assets/js/magnific-popup.min.js"></script>
    <script src="/UI/assets/js/count-to.js"></script>
    <script src="/UI/assets/js/jquery.nice-select.min.js"></script>
    <script src="/UI/assets/js/YTPlayer.min.js"></script>
    <script src="/UI/assets/js/loopcounter.js"></script>
    <script src="/UI/assets/js/validnavs.js"></script>
    <script src="/UI/assets/js/bootstrap-datepicker.js"></script>
    <script src="/UI/assets/js/gsap.js"></script>
    <script src="/UI/assets/js/ScrollTrigger.min.js"></script>
    <script src="/UI/assets/js/SplitText.min.js"></script>
    <script src="/UI/assets/js/main.js"></script>

</body>
</html>
