@using AkademiQMongoDb.DTOs.AdminDtos
@model RegisterAdminDto

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Yönetici Kayıt Paneli">

    <title>Yönetici Kayıt Sayfası</title>

    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">

    <link href="/UI/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/UI/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/UI/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="/UI/assets/css/flaticon-set.css" rel="stylesheet">
    <link href="/UI/assets/css/swiper-bundle.min.css" rel="stylesheet">
    <link href="/UI/assets/css/animate.min.css" rel="stylesheet">
    <link href="/UI/assets/css/validnavs.css" rel="stylesheet">
    <link href="/UI/assets/css/helper.css" rel="stylesheet">
    <link href="/UI/assets/css/unit-test.css" rel="stylesheet">
    <link href="/UI/assets/css/shop.css" rel="stylesheet">
    <link href="/UI/assets/css/style.css" rel="stylesheet">
    <link href="/UI/style.css" rel="stylesheet">
</head>
<body>

    <div class="radio-btn-light">
        <div class="radio-inner-light"></div>
    </div>

    <div id="preloader">
        <div id="agrica-preloader" class="agrica-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-area" style="min-height: 100vh; display: flex; align-items: center; padding: 50px 0;">
        <div class="container">
            <div class="login-items">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="login-thumb">
                            <img src="assets/img/banner/7.jpg" alt="Görsel Bulunamadı">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo-light-2.png" alt="Görsel Bulunamadı"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="login-forms">
                            <h2>Hesap Oluştur</h2>
                            <p>
                                Yeni bir hesap oluşturmak için bilgilerinizi giriniz.
                            </p>
                            <form method="post">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input class="form-control" asp-for="FirstName" placeholder="Adınız*" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input class="form-control" asp-for="LastName" placeholder="Soyadınız*" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" asp-for="Username" placeholder="Kullanıcı Adı*" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" asp-for="Password" placeholder="Şifre*" type="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Şifre Tekrar*" type="password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit">
                                            Kayıt Ol
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="login-alternative">
                                <h4>Veya Şununla Kayıt Ol</h4>
                                <ul>
                                    <li>
                                        <a href="#"><i class="fab fa-google"></i> Google</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a>
                                    </li>
                                </ul>
                                <p>
                                    Zaten bir hesabınız var mı? <a href="login.html">Şimdi Giriş Yapın</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/UI/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/UI/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/UI/assets/js/jquery.appear.js"></script>
    <script src="/UI/assets/js/swiper-bundle.min.js"></script>
    <script src="/UI/assets/js/progress-bar.min.js"></script>
    <script src="/UI/assets/js/wow.min.js"></script>
    <script src="/UI/assets/js/isotope.pkgd.min.js"></script>
    <script src="/UI/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/UI/assets/js/magnific-popup.min.js"></script>
    <script src="/UI/assets/js/count-to.js"></script>
    <script src="/UI/assets/js/jquery.nice-select.min.js"></script>
    <script src="/UI/assets/js/YTPlayer.min.js"></script>
    <script src="/UI/assets/js/loopcounter.js"></script>
    <script src="/UI/assets/js/validnavs.js"></script>
    <script src="/UI/assets/js/bootstrap-datepicker.js"></script>
    <script src="/UI/assets/js/gsap.js"></script>
    <script src="/UI/assets/js/ScrollTrigger.min.js"></script>
    <script src="/UI/assets/js/SplitText.min.js"></script>
    <script src="/UI/assets/js/main.js"></script>
</body>
</html>